.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
}

.container-content h2 {
  margin-bottom: 30px;
  font-weight: 400;
}

p{
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.1em;
  color: #b4aaaa;

}



.container-content-mision {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}

.content {
  width: 45%;
  padding: 0 15px;
}

.content h2 {
  text-align: center;
  margin: 30px 0;
  font-weight: 400;
}

.content p {
  text-align:left
}



.container-help {
  display: flex;
  width: 50%;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background-color: #19a1ea;
  border-radius: 5px;
}

.container-help p{
  color: #fff;
}

.container-help button {
  padding: 10px;
  margin-left: 15px;
  color: #fff;
  background-color: #2b1dec;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
  .content p {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .container-content p{
    width: 90%;
  }

  
  .container-help {
    display: flex;
    width: 90%;
  }
}

@media only screen and (max-width: 375px) {
 
 
  .container-help {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .container-help p {
    margin-bottom: 20px;
  }
}
