.container-title {
  margin-top: 60px;
  text-align: center;
  letter-spacing: 1px;
}

.container-title h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.container-title p {
  margin-bottom: 60px;
}

/* IMAGENES Y ANIMACION */

.container-content-rendimiento {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
}

.content-redimiento {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-redimiento h2 {
  margin: 10px 0;
}

.content-redimiento p {
  margin-bottom: 50px;
  text-align: center;
}

.spiner {
  border: 4px solid rgb(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: spin 1s;
  animation-iteration-count: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin;
}
.spiner img {
  width: 30%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Descripcion de Planes */

.container-content-plan {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.content-plan {
  width: 28%;
  text-align: center;
  -webkit-box-shadow: -3px 5px 15px 5px rgba(0, 0, 0, 0.45);
  box-shadow: -3px 5px 15px 5px rgba(0, 0, 0, 0.45);
}
.content-plan img {
  width: 90%;
}

.content-plan h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.content-plan p {
  margin-bottom: 20px;
  color: rgb(88, 81, 81);
}
.content-plan hr {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

.content-plan span {
  font-size: 2rem;
  color: rgb(88, 81, 81);
}

.content-plan button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  background-color: #25a9f9;
  margin-bottom: 30px;
}

/* Responsi */
@media only screen and (max-width: 380px) {
  .container-title {
    width: 90%;
  }

  .content-redimiento {
    width: 95%;
  }
  .container-content-plan {
    flex-wrap: wrap;
    width: 95%;
  }
  .content-plan {
    margin: 10px auto;
    width: 90%;
  }
}
