
.main-header{
    margin: auto;
    margin-top: 10px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containe-logo{
    width: 30%;
    display: flex;
    align-items: center;
}

.containe-logo h2{
    width: 15%;
    margin-left: 10px;
}

.containe-logo img{
    width: 15%;
}

li{
    list-style: none;
}


.link{
 display: flex;
 justify-content: space-between;
 width: 50%;
}

.link a{
   position: relative;
   }

   .link a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #25A9F9;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition:transform 0.5s ease-in-out;
    }

    .link a:hover::before {
        transform: scaleX(1);
      }

.link li a {
    text-decoration: none ;
    color: black;
}


@media only screen and (max-width: 380px) {

.main-header{
    justify-content: flex-start;
    margin-left: 20px;
}

    .containe-logo{
        width: 20%;
      
    }

    .containe-logo h2{
       display: none;
    }

    .containe-logo img{
        width: 100%;
     }

    .link {
        flex-direction: column;
        width: 100%;
        height: 200px;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(194, 188, 188);
   }
   .link a {
       padding: 10px;
   }
  
  }




